@import url("https://use.typekit.net/vsr4jkw.css");

.MuiAppBar-positionStatic {
  width: calc(100% - 17px) !important;
  position: fixed !important;
}

a {
  text-decoration: none !important;
  color: #f8f9fa;
}
